<!-- Footer -->
	<footer id="footer">
		<div class="inner">
		<div class="contact-method">
					<span class="icon alt fas fa-at"></span>
					<h3>Email</h3>
					<a href="mailto:contact@gmail.com">{{ site.email }}</a>
		</div>

		<div class="contact-method">
					<span class="icon alt fas fa-home"></span>
					<h3>Home</h3>
					<span>
					{% if site.street_address %}
					    {{ site.street_address }}<br />
					{% endif %}
					{% if site.city %}
					    {{ site.city }},
					{% endif %}
					{% if site.state %}
					    {{ site.state }} 
					{% endif %}
					{% if site.zip_code %}
					    {{ site.zip_code }}<br />
					{% endif %}
					{% if site.country %}
					    {{ site.country }}
					{% endif %}
					</span>
				</div>
			<!--ul class="icons">
				{% if site.soundcloud_url %}
				<li><a href="{{ site.soundcloud_url }}" target="_blank"><i class="alt fab fa-soundcloud"></i><span class="label">  Soundcloud</span></a></li>
				{% endif %}
				{% if site.twitter_url %}
				<li><a href="{{ site.twitter_url }}" target="_blank"><i class="alt fab fa-twitter"></i><span class="label">  Twitter</span></a></li>
				{% endif %}
				{% if site.facebook_url %}
				<li><a href="{{ site.facebook_url }}" target="_blank"><i class="alt fab fa-facebook"></i><span class="label">  Facebook</span></a></li>
				{% endif %}
				{% if site.instagram_url %}
				<li><a href="{{ site.instagram_url }}" target="_blank"><i class="alt fab fa-instagram"></i><span class="label">  Instagram</span></a></li>
				{% endif %}


				{% if site.googleplus_url %}
				<li><a href="{{ site.googleplus_url }}" class="icon alt fa-google-plus" target="_blank"><span class="label"> Google+</span></a></li>
				{% endif %}
				{% if site.pinterest_url %}
				<li><a href="{{ site.pinterest_url }}" class="icon alt fa-pinterest" target="_blank"><span class="label"> Pinterest</span></a></li>
				{% endif %}
				{% if site.500px_url %}
				<li><a href="{{ site.500px_url }}" class="icon alt fa-500px" target="_blank"><span class="label">500px</span></a></li>
				{% endif %}
				{% if site.gitlab_url %}
				<li><a href="{{ site.gitlab_url }}" class="icon alt fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
				{% endif %}
				{% if site.github_url %}
				<li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				{% endif %}
				{% if site.slack_url %}
				<li><a href="{{ site.slack_url }}" class="icon alt fa-slack" target="_blank"><span class="label">Slack</span></a></li>
				{% endif %}
				{% if site.linkedin_url %}
				<li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				{% endif %}
			</ul>
			-->
			<ul class="copyright">
				<span>&copy; {{ site.title }} {{ site.subtitle }} 2019</span>
			</ul>
		</div>
	</footer>
</div>