@font-face {
    font-family: 'kollektifregular';
    src: url('https://test.blancnacarat.com/assets/fonts/kollektif-webfont.woff2') format('woff2'),
         url('https://test.blancnacarat.com/assets/fonts/kollektif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kollektifbold_italic';
    src: url('https://test.blancnacarat.com/assets/fonts/kollektif-bolditalic-webfont.woff2') format('woff2'),
         url('https://test.blancnacarat.com/assets/fonts/kollektif-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kollektifitalic';
    src: url('https://test.blancnacarat.com/assets/fonts/kollektif-italic-webfont.woff2') format('woff2'),
         url('https://test.blancnacarat.com/assets/fonts/kollektif-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kollektifbold';
    src: url('https://test.blancnacarat.com/assets/fonts/kollektif-bold-webfont.woff2') format('woff2'),
         url('https://test.blancnacarat.com/assets/fonts/kollektif-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}