<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>home</title>
<link rel="stylesheet" type="text/css" href="https://test.blancnacarat.com/assets/css/main.css">

<style id="applicationStylesheet" type="text/css">
	body {
		margin: 0;
		padding: 0;
	}
	:root {
		--web-view-ids: container;
	}
	#container * {
		margin: 0;
		padding: 0;
	}
	#container {
		position: absolute;
		box-sizing: border-box;
		background: #E5E5E5;
		width: 100vw;
		height: 100vh;
		background-color: rgba(255,249,243,1);
		overflow: hidden;
		margin: 0;
		padding: 0;
		opacity: 1;
		--web-view-name: container;
		--web-view-id: container;
		--web-enable-deep-linking: true;
	}
</style>
</head>

<body>
<div id="container">
	<div id="title">
		<span>blanc nacarat.</span>
	</div>
	<div id="subtitle">
		<span>label & collectif artistique</span>
	</div>
	<div id="menu">
		<span onclick="openNav()">menu.</span>
	</div>
	<div id="copyright">
		<span>© blanc nacarat. 2019</span>
	</div>
	<div id="FR">
		<span>FR</span>
	</div>
	<div id="EN">
		<span>EN</span>
	</div>
	<svg class="Ligne_1">
		<path id="Ligne_1" d="M 0 0 L 19 0">
		</path>
	</svg>
	<svg class="Ligne_2">
		<path id="Ligne_2" d="M 0 0 L 32 0">
		</path>
	</svg>
</div>

<!-- The overlay -->
<div id="container_menu" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">close.</a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <a href="#">about us.</a>
    <a href="#">équipe.</a>
    <a href="#">discovery.</a>
    <a href="#">playlists.</a>
    <a href="#">contact.</a>
  </div>

</div>
<script type="text/javascript">
	/* Open */
function openNav() {
  document.getElementById("container_menu").style.display = "block";
}

/* Close */
function closeNav() {
  document.getElementById("container_menu").style.display = "none";
}
</script>

</body>
</html>